@charset "UTF-8";

*         {margin: 0; padding: 0; box-sizing: border-box; }
a         {text-decoration: none; color: black;}
ul        {list-style: none;}
html,body {scroll-behavior: smooth;}

@font-face{
font-family: Sequel Sans Semi Bold Head;
src:url("../font/Sequel Sans Semi Bold Head.eot");
src:url("../font/Sequel Sans Semi Bold Head.woff");
}
@font-face{
font-family: Sequel Sans Medium Body;
src:url("../font/Sequel Sans Medium Body.eot");
src:url("../font/Sequel Sans Medium Body.woff");
}
@font-face{
font-family: Sequel Sans Medium Head;
src:url("../font/Sequel Sans Medium Head.eot");
src:url("../font/Sequel Sans Medium Head.woff");
}
@font-face{
font-family: Sequel Sans Roman Body;
src:url("../font/Sequel Sans Roman Body.eot");
src:url("../font/Sequel Sans Roman Body.woff");
}
@font-face{
font-family: Sequel Sans Semi Bold Obl Body;
src:url("../font/Sequel Sans Semi Bold Obl Body.eot");
src:url("../font/Sequel Sans Semi Bold Obl Body.woff");
}



#layout {max-width: 1920px; overflow: hidden;}

#scrolltop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px; height: 50px;
  background-color: dodgerblue;
  z-index: 100;
}
#scrolltop p {
  text-align: center;
  font-size: 2rem;
  color: white;
}

/* NOTE: menu */

#menu {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
#menu {
  position: absolute;
  top:0;
  right: 0;
  width: 0px;
  height: 100vh;
  background-color: rgba(32,32,32,0.7);
  transition: 0.5s;
}
#menu> button {
  position: absolute;
  top: -15px;
  right: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
}
#main_menu {
  margin: 190px 0 0 215px;
}
#main_menu li  {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 2.35rem;
  font-weight: bold;
  margin-bottom: 23px;
}
#main_menu li a{
  color: #888;
}

#sub_menu {
  margin: 55px 0 0 214px;
}
#sub_menu li {
  font-family: 'Roboto', sans-serif;
  color: #d6d6d6;
  margin-bottom: 10px;
  cursor: default;
}

#menu img {
  margin: 42px 0 0 214px;
}
#menu li a:hover {
  color: white;
}


/* NOTE: main_page */

#main_page  {
  position: relative;
  width: 1920px;
  height:100vh;
  background-image: url(../images/main_bg.jpg);
  background-position: center;
  background-size: 100%;
  margin-bottom: 300px;
  transition: 0.3s;
}
#main_page> nav {
  display: flex;
  justify-content: space-between;
  padding: 28px 45px 0 32px;
}
#main_text {
  max-width: 600px;
  height: 400px;
  margin: 224px 0 0 254px;
  color: white;
}
#main_text h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.35rem;
  font-weight: 400;
  margin-bottom: 35px;
  color: #f0f0f0;
}
#main_text h1 {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 5.45rem;
  margin-bottom: 35px;
}
#main_text p  {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 90px;
  color: #9e9e9e;
}
#main_text h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #e0e0e0;
}
#main_text h6 span  {
  margin-left: 8px;
  cursor: pointer;
}
#main_text h6 span:hover {
  border-bottom: 1px solid #e0e0e0;
}

#gotoStore  {
  position: absolute;
  bottom: 30px;
  right: 45px;
}

#main_page.blur::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px); /* apply the blur */
  backdrop-filter: blur(5px);         /* apply the blur */
}

/* NOTE: Tech 1 section */

#tech_01  {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 540px;
}

.bg_text {
  position: relative;
  display: flex;
}
.bg_text img {
  margin-right: 100px;
}

#tech_01> .tech_model {
  position: absolute;
  top: 200px;
  left: calc(100% - 56%);
}

#tech_01> .tech_text {
  float: right;
  width: 400px;
  height: 480px;
  line-height: 62px;
  margin: 125px 235px 0 0;
}
.tech_text h1  {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 3.7rem;
  margin-bottom: 40px;
}
.tech_text h1 span {
  color: #848489;
}
.tech_text p {
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  color: #7f7f7f;
  margin-bottom: 38px;
}
.tech_text hr {
  border: 0;
  height: 2px;
  background-color: black;
}
.tech_text h3 {
  font-family: 'Sequel Sans Medium Body', sans-serif;
  font-size: 1.4rem;
}
.tech_text button {
  padding: 6px 26px 8px 26px;
  background: transparent;
  border: 2px solid #1e1e1e;
  border-radius: 20px;
  font-family: 'Sequel Sans Medium Body', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}
.tech_text button:hover  {
  background: #1e1e1e;
  border: 2px solid #1e1e1e;
  color: white;
}

/* NOTE: tech01_poup */

#tech01_popup {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
  left: 0;
  z-index: 5;
  display: none;
}
#tech01_popup> img {
  position: fixed;
  width: 33px;
  height: 33px;
  top: 55px;
  right: 60px;
  z-index: 6;
  cursor: pointer;
}
#tech01_popup>  div {
  background-color: white;
  width: 1180px;
  height: 770px;
  margin: auto;
  margin-top: 100px;
  padding: 110px;
}
.tech01_popup_contents  {
  display: flex;
}
.tech_01_popup_model {
  flex: 1;
  margin: 17
  px 50px 0 55px;
}
.tech_01_popup_model img {
  display: block;
  margin: 0 auto;
}
.tech_01_popup_model> div{
  display: flex;
  width: 110px;
  justify-content: space-between;
  margin: 0 auto;
}
.tech_01_popup_model> div> button {
  width: 42px;
  height: 42px;
  background: transparent;
  border: 1px solid #7f7f7f;
  color: #7f7f7f;
  border-radius: 50%;
  margin-top: 50px;
  cursor: pointer;
  transition: 0.2s;
}
.tech_01_popup_model> div> button:hover  {
  background: black;
  border: 1px solid #black;
  color: white;
}


.tech_01_popup_text {
  flex: 1;
  padding: 40px 40px 40px 100px;
}
.tech_01_popup_text> h1 {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.tech_01_popup_text> h1> span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #a2a2a2;
  font-size: 1.5rem;
}
.tech_01_popup_text> p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #959595;
  line-height: 25px;
  margin-bottom: 30px;
}
.tech_01_popup_text> hr {
  border: none;
  background-color: #dfdfdf;
  height: 2px;
  margin-bottom: 40px;
}
.tech_01_popup_text h3  {
  font-family: 'Sequel Sans Roman Body', sans-serif;
  margin-bottom: 20px;
}


/* NOTE: Tech 2 section */

#tech_02  {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 300px;
}
#tech_02> .tech_text  {
  margin-left: 273px;
  padding-top: 50px;
  line-height: 62px;
}

.tech_model_inside  {
  position: absolute;
  top: -260px;
  left: calc(100% - 56.3%);
  z-index: 5;
}

#tech_02> .tech_model {
  position: absolute;
  top: -100px;
  left: calc(100% - 56%);
}

.fix {
  position:fixed;
  _position:absolute;
  top: 150px;
  z-index: 2;
}
.nofix {
  position:absolute;
  _position:absolute;
  top: 150px;
  z-index: 2;
}


/* NOTE: Tech 3 section */

#tech_03  {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 300px;
}

.tech_gallery_btn {
  position: absolute;
  top: 200px;
  left: 200px;
  display: flex;
  width: 525px;
  height: 280px;
  justify-content: space-between;
  overflow: hidden;
}
.tech_gallery_btn button {
  width: 53px;
  height: 53px;
  background: transparent;
  border: 1px solid #7f7f7f;
  color: #7f7f7f;
  border-radius: 50%;
  margin-top: 113px;
  cursor: pointer;
  transition: 0.2s;
}
.tech_gallery_btn button:hover  {
  background: black;
  border: 1px solid #black;
  color: white;
}
.tech_gallery_btn button:last-child {
  margin-left: 350px;
}

.tech_gallery {
  position: absolute;
  top: 200px;
  left: 290px;
  display: flex;
  width: 350px;
  height: 280px;
  overflow: hidden;
}




#tech_03> .tech_text {
  float: right;
  width: 400px;
  height: 480px;
  line-height: 62px;
  margin: 100px 230px 0 0;
}
#tech_03> .tech_text> p  {
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  color: #7f7f7f;
  margin-bottom: 65px;
}
#tech_03> .tech_model {
  position: absolute;
  top: 0px;
  left: calc(100% - 56%);
}


/* NOTE: detail section */

#detail {
  position: relative;
  background-color: #212225;
  padding: 200px 40px;
}

#model_big  {
  position: absolute;
  top: 40vh;
  left: calc(100% - 59.5%);
  z-index: 2;
  transition: 1s;
}


.detail_gallery {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#detail p {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 7rem;
  color: white;
  text-align: center;
  letter-spacing: 10px;
  margin: 60px 0 90px 0;
}

#group1 {
  position: relative;
  width: 660px;
  height: 530px;
}
#group1 img:first-child {
  position: absolute;
  left:0;
}
#group1 img:last-child {
  position: absolute;
  top: 50px;
  right: 10px;
}


#group2 {
  position: relative;
  width: 610px;
  height: 495px;

}
#group2 img:first-child {
  position: absolute;
  top:0;
  z-index: 1;
}
#group2 img:last-child {
  position: absolute;
  top: 40px;
  right: 0;
}

#group3 {
  position: relative;
  width: 620px;
  height: 461px;
}
#group3 img:first-child {
  position: absolute;
  left:0;
  z-index: 1;
}
#group3 img:last-child {
  position: absolute;
  bottom:0;
  right: 0;
}

#group4 {
  position: relative;
  width: 652px;
  height: 548px;
}
#group4 img:first-child {
  position: absolute;
  bottom: 200px;
}
#group4 img:last-child {
  position: absolute;
  bottom:0;
  right: 0;
}


/* NOTE: awards section*/

#award  {
  position: relative;
  background-color: #212225;
  width: 100%;
  height: 900px;
  padding: 140px 50px 400px 50px;
  text-align: center;
}
#award h1 {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 3.3rem;
  letter-spacing: normal;
  color: white;
  margin-bottom: 40px;
}
#award p  {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.35rem;
  color: #c7c7c7;
  margin-bottom: 150px;
}



#video01 {
  display: block;
  width: 100%;
}


/* NOTE: jet_button section */

#jet_button {
  position: relative;
  background-color: #212225;
  width: 100%;
  height: 1000px;
  padding-top: 400px;
}
.jet_button_text  {
  width: 1070px;
  height: 300px;
  margin: 0 auto;
}
.jet_button_text img {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}
.jet_button_text p  {
  font-family: 'Sequel Sans Medium Body', sans-serif;
  font-size: 2rem;
  line-height: 50px;
  color: white;
  text-align: center;
}


/* NOTE: scene section */

#scene {
  position: relative;
  width: 100%;
  height: 950px;
  overflow: hidden;
}
#jetbutton_active {
  position: absolute;
  top: calc(100% - 62%);
  left: calc(100% - 54.5%);
  z-index: 1;
}
.scene  {
  position: absolute;
}
.scene img {
  width: 100%;
}
.scene div {
  position: absolute;
  padding: 12px 22px;
  border-radius: 25px;
  top: calc(100% - 48%);
  left: calc(100% - 60.5%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgba(255,255,255,0.8);
}

/* NOTE: about Us */

#aboutUs {
  position: relative;
  width: 100%;
  height: 1850px;
  padding: 180px 261px;
}

.semi_title  {
  margin: auto;
  text-align: center;
}
.semi_title h2 {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 3.2rem;
  color: #171c1e;
  margin-bottom: 25px;
}
.semi_title p {
  font-family: 'Sequel Sans Medium Body', sans-serif;
  font-size: 1.8rem;
  color: #2e2f2f;
  margin-bottom: 150px;
}

.aboutUs_text {
  position: absolute;
  bottom: 90px;
  left: 530px;
  width: 850px;
  height: 650px;
  padding: 50px 125px;
  background-color: white;
}
.aboutUs_text> img {
  margin-bottom: 28px;
}
.aboutUs_text> p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 28px;
  color: #868686;
  margin-bottom: 50px;
}
.aboutUs_text p span {
  color: black;
}
.aboutUs_text hr {
  border: 0px;
  background: black;
  height: 2px;
  margin-bottom: 15px;
}
.aboutUs_text> div {
  display: flex;
  justify-content: space-between;
}
.aboutUs_text> div div {
  font-family: 'Roboto', sans-serif;
  color: black;
}
.aboutUs_text> div div h3 {
  font-size: 1.41rem;
  margin-bottom: 5px;
}
.aboutUs_text> div div p {
  font-size: 0.95rem;
  font-weight: 500;
  color: #303030;
}

/* NOTE: history section */

#history  {
  position: relative;
  width: 100%;
  height: 1000px;
  background: black;
  padding: 190px 270px ;
}

#history> h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  margin-bottom: 26px;
}

/* NOTE: Year */
.history_years  {
  position: absolute;
  display: flex;
  width: 1730px;
  justify-content: space-between;
  top: 250px;
  left: 265px;
  z-index: 1;
}
.history_years> div {
  font-family: 'Roboto', sans-serif;
  font-size: 11rem;
  color: white;
}

/* NOTE: images */
.history_img {
  position: absolute;
  top: 100px;
  right: 240px;
}

/* NOTE: text */
.history_text {
  position: absolute;
  top: 500px;
  left: 273px;
  color: white;
  display: flex;
  width: 2300px;
  justify-content: space-between;
  z-index: 1;
}
.history_text_layout h2 {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 2.7rem;
  margin-bottom: 30px;
}
.history_text_layout p {
  font-family: 'Roboto', sans-serif;
  color: #a5a5a5;
  line-height: 25px;
  margin-bottom: 100px;
}

/* NOTE: button */
.history_btn  {
  position: absolute;
  bottom: 190px;
  width: 160px;
  height: 65px;
  display: flex;
  justify-content: space-between;
}
.history_btn button {
  width: 65px;
  height: 65px;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.history_btn button:hover  {
  border: none;
  background: white;
  color: black;
}

/* NOTE: Collection section*/

#collection {
  position: relative;
  width: 100%;
  height: 1900px;
  padding: 290px 320px;
}

.toaster  {
  display: flex;
  margin-bottom: 90px;
}
.toaster> img {
  max-height: 100%;
  margin-right: 240px;
  padding: 80px 10px 120px 10px;
}
.collection_text {
  padding: 10px 0;
}
.collection_text h1  {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 3.35rem;
  line-height: 55px;
  margin-bottom: 40px;
}
.collection_text h1 span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 40px;
  color: #929292;
}
.collection_text> p {
  font-family: 'Sequel Sans Roman Body', sans-serif;
  font-size: 1.08rem;
  line-height: 24px;
  letter-spacing: -0.5pt;
  color: #7f7f7f;
  margin-bottom: 45px;
}
.collection_text hr {
  width: 90%;
  border: 0;
  height: 2px;
  background-color: black;
  margin-bottom: 40px;
}

.collection_text> div {
  display: flex;
  height: 45px;
  align-items: center;
}
.collection_text button:first-of-type {
  padding: 9px 28px 11px 28px;
  background: transparent;
  border: 2px solid #1e1e1e;
  border-radius: 25px;
  font-family: 'Sequel Sans Medium Body', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 60px;
}
.collection_text button:last-of-type  {
  padding: 9px 14px 8px 18px;
  font-size: 1.2rem;
  background: transparent;
  border: 2px solid #1e1e1e;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 12px;
  transition: 0.3s;
}
.collection_text> div> p  {
  font-family: 'Sequel Sans Semi Bold Obl Body', sans-serif;
  font-size: 1.1rem;
  color: black;
}

.collection_text button:hover  {
  background: #1e1e1e;
  border: 2px solid #1e1e1e;
  color: white;
}


.speaker  {
  display: flex;
  justify-content: space-between;
  padding: 0 65px;
  margin-bottom: 500px;
}


/* NOTE: others */

#others {
  max-width: 100%;
  height: 950px;
  display: flex;
}
#others> div> img {
  cursor: pointer;
  transition: 0.3s;
}
#others> div> img:hover {
  transform: scale(1.05);
}
#others> div> p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #2c2b2b;
  margin-top: 25px;
}

/* NOTE: footer */

#footer {
  position: relative;
  width: 100%;
  height: 3000px;
}

#footer> video {
  width: 100%;
  margin-bottom: 350px;
}

.recruit  {
  position: relative;
  width: 100%;
  height: 1550px;
}
.recruit> img {
  display: block;
  position: absolute;
  left: calc(50% - 350px);
  z-index: -1;
}
.recruit_img {
  position: absolute;
  top: 180px;
  left: calc(50% - 675px);
}
.recruit_img p  {
  font-family: 'Sequel Sans Semi Bold Head', sans-serif;
  font-size: 5rem;
  text-align: center;
  line-height: 88px;
}
.recruit_img button {
  display: block;
  margin: 80px auto;
  padding: 11px 22px;
  font-family: 'Sequel Sans Medium Body', sans-serif;
  font-size: 0.95rem;
  border: 2px solid black;
  border-radius: 25px;
  background: transparent;
}
.recruit_img p:last-of-type {
  margin-top: 550px;
}

.footer_bgtext {
  position: relative;
  display: flex;
}
.footer_bgtext img {
  margin-right: 100px;
}


/* NOTE: footer */

footer  {
  width: 1400px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 60px;
}
footer ul {
  display: flex;
  align-items: center;
}
footer> ul> li {
  margin-right: 15px;
  font-family: 'Sequel Sans Roman Body', sans-serif;
}
footer> ul:last-of-type> li:last-of-type {
  margin-right: 5px;
}
footer ul> a {
  display: block;
  padding-top: 6px;
}
footer a {
  display: flex;
  align-items: center;
}










.
